<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        <% _.each(custmoers, function(customer){ %>
        <tr data-id="<%= customer.id %>" data-model="customer">
            <td><%= customer.id %></td>
            <td><%= customer.name %></td>
            <td><%= customer.email %></td>
            <td>
                <a href="/customer/show/<%= customer.id %>">Show</a>
                <a href="/customer/edit/<%= customer.id %>">Edit</a>
                <a href="/customer/destroy/<%= customer.id %>">Delete</a>
            </td>
        </tr>
        <% }) %>
    </thead>
</table>